<div *ngIf="project" class="proj">
  <div class="container-fluid">
    <div class="overlay-mask" @flyFromTop></div>
    <div class="row">
      <div class="col-md-8 offset-md-2" @flyInOut>
        <div class="container">
          <div class="row">
            <div class="col-md-12 offset-md-0">
              <h2>{{'ProjectDetail.Title'|translate:project}}</h2>
            </div>
          </div>
        </div>
        <div class="card card-cascade wider reverse">
          <div class="view view-cascade overlay">
            <img class="card-img-top img-responsive" src="{{project.imgLink}}" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body card-body-cascade text-center">
            <ngb-rating [rate]="currentRate" [readonly]="readonly" (rateChange)="setRate($event)" style="outline: none"></ngb-rating>
            <h5 class="card-title">
              <strong>{{project.title}}</strong>
            </h5>
            <h6 class="font-weight-bold indigo-text py-2">{{'ProjectDetail.Year'|translate:project}}</h6>
            <button (click)="redirectTo()" class="btn btn-secondary" style="color: white;">{{'ProjectDetail.GitButton'|translate}}</button>
            <p class="card-text">{{project.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
