/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  background: url(https://i.imgur.com/x7OEbYV.jpg)no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.overlay-mask {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

/* validation forms */
button {
  border-radius: 2px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
